// Enter any custom Sass in this file.
.notstarted { background-color: red; }
.complete { background-color: green; }
.not_applicable { background-color: gray; }
.btn-primary {
    color: #000000;
    background-color: #00FFFF;
    border-color: #00FFFF;
}
.layout-goal {
    .container {
        h3, h4 {
            margin: 0;
            font-size: $fontSize;
            &:after {
                content: "";
                display: block;
                border-bottom: 1px solid $color-dark;
                margin-top: 5px;
                margin-bottom: 5px;
            }
        }
        .row {
            margin-bottom: 20px;
        }
        .goal-page-indicator-progress {
            margin-left: 0px;
        }
    }
}